* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.Cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cell img {
  width: 45px;
  height: 45px;
  position: relative;
}

.Black {
  background-color: rgb(53, 53, 178);
}

.White {
  background-color: rgb(196, 182, 163);
}

.Selected {
  background-color: rgb(52, 189, 112);
}

.Availible {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(52, 189, 112);
}
